.inline-block {
    display: inline-block;
    vertical-align: top;
    font-size: 40px;
    font-family: 'Jura';
    src: url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
    margin-right: 20px;
    padding: 0;
    float: right;
    }
    
    .styled-hr {
    background-color: #007B69;
    width: 50%;
    float: left;
    height: 2px;
    transform: translateY(10px);
    }
    
    body {
        background-color: #F0EEE1;
        font-family: 'Volkorn';
        src: url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");
    }
    
    .button{
    background-color: #007B69;
    }
    
    
    
    .nav {
        width: 73%;
        padding: 1%;
    }
    
    .li {
        width: 50%;
        text-indent: 50px;
        padding-right: 50px;
    }
    
    .img {
        float: right;
        position: absolute;
        right: 0;
    }
    
    
    .h1 {
    
        float: left;
        transform: translateY(10px);
    }
    
    .UI {
        color: #007B69;
    }
    
    .p {
        position: absolute !important;
        right: 0 !important;
    }
    
    
    .content {
        width: 500px;
        margin: 0 auto;
    }
    
    .flexContainer {
        display: flex;
        width: 33px, 33px, 33px;
        margin: auto;
        padding: 0;
        float: right;
        align-items: center;
        border: 2px solid #373738;
        border-radius: 10px;
    }
    
    .head{
        text-align: center;
        grid-row: 1fr 1fr 1fr;
    }
    
    .main {
        display: grid;
        grid-template-areas: "topbar topbar topbar";
        align-content: centr;
    }
    
    .h1 {
        grid-area: topbar;
    }
    
    
    .footer {
        background-color: #373738;
        padding: center;
    }
    
    
    .ul {
        display: inline-block;
        vertical-align: top;
        padding: center;
        text-indent: 50px;
        float: right;
    }
    
    @media screen { 
        (max-width: 600);
        
    }